.navbar {
  padding: 5px 20px;
  border: none;
  font-size: 20px;
}

input {
  border: none;
  margin-left: 20px;
  outline: none;
  font-size: 20px;
}

.fa-arrow-left {
    cursor: pointer;
}

.fa-arrow-left:hover {
    color: blueviolet;
}

@media (max-width: 410px) {
    .navbar {
        padding: 5px;
    }

    input {
        margin-left: 10px;
    }
}