.book {
  margin: 0 20px;
  position: relative;
}

img {
  width: 200px;
  height: 300px;
}

.author {
  color: rgb(137, 136, 136);
}

@media (max-width: 630px) {
  img {
    width: 150px;
    height: 220px;
  }
}

@media (max-width: 530px) {
    book {
      margin: 0 10px;
    }
  }