.book {
  margin: 0 20px;
}

img {
  width: 200px;
  height: 300px;
}

.author {
  color: rgb(137, 136, 136);
}

.arrow-down {
  background-color: rgb(38, 167, 38);
  padding: 12px 15px;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: relative;
  right: 30px;
  bottom: 5px;
}

@media (max-width: 630px) {
  img {
    width: 150px;
    height: 220px;
  }
}

@media (max-width: 530px) {
    book {
      margin: 0 10px;
    }
  }